anyio==4.12.0
asgiref==3.11.0
attrs==25.4.0
babel==2.17.0
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.1.8
csvw==3.7.0
Django==5.2.9
django-browser-reload==1.21.0
django-cleanup==9.0.0
django-watchfiles==1.4.0
dlinfo==2.0.0
gTTS==2.5.4
idna==3.11
isodate==0.7.2
joblib==1.5.3
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
language-tags==1.2.0
Levenshtein==0.27.3
numpy==2.4.0
phonemizer==3.3.0
PyAudio==0.2.14
pydub==0.25.1
pyparsing==3.3.1
python-dateutil==2.9.0.post0
RapidFuzz==3.14.3
rdflib==7.5.0
referencing==0.37.0
regex==2025.11.3
requests==2.32.5
rfc3986==1.5.0
rpds-py==0.30.0
segments==2.3.0
six==1.17.0
sqlparse==0.5.5
termcolor==3.3.0
typing_extensions==4.15.0
uritemplate==4.2.0
urllib3==2.6.2
watchfiles==1.1.1
